{% extends 'base.html.twig' %}

{% block body %}

	<h1>Bienvenue dans ce blog</h1>

	<p>N'hésitez pas à parcourir ce site !</p>

	<ul>
		<li>Symblog : affiche cette page !</li>
		<li>Articles : affiche des articles !</li>
		<li>Créer un article : créer un article !</li>
		<li>S'enregistrer : créer un utilisateur !</li>
		<li>Se connecter : se connecter avec un utilisateur existant !</li>
        <li>Se déconnecter : seulement si vous êtes connecté !</li>
	</ul>

{% endblock %}
