{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe esse nesciunt at consectetur nemo, corrupti officiis similique amet fuga? Architecto iure molestiae doloribus voluptas temporibus eos quos earum unde explicabo soluta praesentium aperiam quae saepe sequi numquam velit, voluptates dolor!</p>
<p>Quidem atque reprehenderit sit ducimus quasi. Ullam fugit natus, amet est cum facere voluptates assumenda eligendi. Ea saepe nam iusto suscipit porro voluptatem maxime magni dolores cum vitae velit quam delectus vero, hic eius quas distinctio quae iste. Ipsa, fugiat!</p>

{% endblock %}